/* Fist div */

#first-div {
  background-color: #000;
  min-height: 100vh;
}

#first-div-title {
  color: #fff;
  text-align: center;
  font-family: 'Lora', serif;
}

#first-div-subtitle {
  color: #fff;
  text-align: center;
  font-family: 'Lora', serif;
}

#first-div-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80px;
  max-height: 80px;
  margin-top: 20vh;
}

/* Second div */
#second-div {
  background-color: #fff;
  min-height: 80vh;
}

#second-div-text {
  margin-top: 25vh;
  font-size: 1.9em;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: lighter;
}

#second-div-image {
  max-width: 100%;
  box-sizing: border-box;
}
