/* HTML */
html {
  font-size: 12px;
}

/* Fist div */

#first-div {
  background-color: #000;
  min-height: 100vh;
}

#first-div-title {
  color: #fff;
  text-align: center;
  font-family: 'Lora', serif;
}

#first-div-subtitle {
  color: #fff;
  text-align: center;
  font-family: 'Lora', serif;
}

#first-div-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80px;
  max-height: 80px;
  margin-top: 20vh;
}

/* Second div */
#second-div {
  background-color: #fff;
  min-height: 80vh;
}

#second-div-text {
  margin-top: 25vh;
  font-size: 1.9em;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: lighter;
}

#second-div-image {
  max-width: 100%;
  box-sizing: border-box;
}

/* Third div */
#third-div {
  background-color: #000;
  /* min-height: 100vh; */
  padding-bottom: 2vw;
  padding-right: 2vw;
  padding-left: 2vw;
}

#third-div-content {
  color: #fff;
  font-family: 'Lora', serif;
  margin-top: 5.5em;
  margin-bottom: 2em;
}

#third-div-title {
  font-size: 4em;
}

#third-div-text {
  margin-top: 2.5em;
  font-size: em;
}

#author-text {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  margin-top: 2vw;
}
